*~
*.aux
*.bbl
*.blg
*.log
/cefp.pdf
*.toc
*.out

*.o
*.hi
*.eventlog

/doc/cefp.pdf

/code/fork
/code/geturls
/code/geturlscancel
/code/geturlsstm
/code/server
/code/sudoku1
/code/sudoku2
/code/sudoku3
/code/sudoku4
/code/parinfer/parinfer
/code/kmeans/kmeans
